# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle/wrapper/gradle-wrapper.properties

# other
eclipse
run
*.log
.DS_Store
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Files from Forge MDK
forge*changelog.txt
